@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}

.frontlogo {
  display: flex;
  justify-content: center;
  padding-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.butikfront{
  background-image: url("crap.png");
}

h1 {
  font-family: 'Ms Madi', cursive;
  font-size: 60px;
  text-align:center;
  margin-top: 80px;
}
p{
  font-family: 'Poppins';
  text-align: center;
  margin-bottom: 200px;
}

.nav-links ul {
  list-style:none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Poppins';
}

.nav-links li{
  display: inline-block;
}

.nav-links a{
  display: inline-block;
  position: relative;
  color: brown;
  text-align: center;
  align-items: baseline;
  padding: 25px 20px;
  margin-right: 20px;
  text-decoration: none;
}

.nav-links a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: brown;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: brown;
  margin: 5px;

}
/*------ navbar  ----*/


/*------ indhol på butik css ----*/
.butikken{
  display: flex;
  flex-direction: row;
}

.butiktekst{
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 150px;
}

.butiktekst h2 {
   font-family: 'Poppins';
   font-size: 20px;
}

.butiktekst p {
  font-family: 'Poppins';
  font-size: 17px;
  text-align: left;
}

img{
  display: flex;

  max-width: 600px;
  padding-left: 50px;

}

@media (max-width: 768px) {
.body{
  overflow-x: hidden;
}
  /*------ navbar start ----*/
.nav nav-links {
  position: absolute;
  right:0px;
  height: 92vh;
  top:8vh;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
}
.burger{
  display: block;
}

.nav-active{
  transform: translateX(0%);
}
  /*------ navbar slut  ----*/
}
