@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}

body{
  font-family: 'Poppins';
}

/*------HEADER------*/

.frontlogo {
  display: flex;
  justify-content: center;
  padding-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.butikfront{
  background-image: url("crap.png");
}

.navbar ul {
  list-style:none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li{
  display: inline-block;
}

.navbar a{
  display: inline-block;
  position: relative;
  color: brown;
  text-align: center;
  align-items: baseline;
  padding: 25px 20px;
  margin: 20px;
  text-decoration: none;
}

.navbar a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: brown;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.butikken{
  display: flex;
  flex-direction: row;
}

.butiktekst{
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 150px;
}

.butiktekst h2 {
   font-size: 20px;
}

.butiktekst p {
  font-size: 17px;
  text-align: left;
}

img{
  max-width: 600px;
  padding-left: 50px;

}

/* -----FOOTER------- */

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #AE957E;
  color: white;
  text-align: center;
  display: inline-block;
  overflow: hidden;

}
.wrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  text-align: center;
  justify-content: space-between;

}

.column {
  display: inline-table;
  float: left;
  width: 20%;
}

.columnlogo {
  float: left;
  display: flex;
  margin-right: 15px;
  margin-top: 10px;
}

.footertext {
  display: inline-block;
  text-align: left;
  float: left;

}

.column2 {
  display: inline-flex;
  float: left;
  width: 20%;
  vertical-align: middle;
}

.logo{
  height:40px;
  width:40px;
  float: right;
}
