@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}

body{
  font-family: 'Poppins';
}

/*------HEADER------*/


*{
  list-style: none;
}

.main-nav {
  font-family: poppins;
  display: flex;
  height: 8vh;
  justify-content: center;
  align-items: center;
  color: #5f2813;
  background: none;
}
.main-nav a{
  margin:0;
  padding:0;
  text-decoration: none;
  box-sizing: border-box;
  color:inherit;
}

.logologo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding: 10px;

}
.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.nav-links ul {
  list-style:none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Poppins';
}

.nav-links li{
  display: inline-block;
}

.nav-links a{
  display: inline-block;
  position: relative;
  color: #5f2813;
  text-align: center;
  align-items: baseline;
  padding: 25px 20px;
  margin-right: 20px;
  text-decoration: none;
}

.nav-links a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5f2813;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}
.line {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;
  background: #5f2813;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

@media screen and (max-width: 800px) {
  .nav-links {
    width: 60%;
  }
}

.main-nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
  opacity: 0;
}
.main-nav.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}
.main-nav.show .nav-links {
  transform: translateX(0%);
}
@media screen and (max-width: 800px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .burger {
    display: block;
  }
  .nav-links {
    position: fixed;
    top: 25vh;
    right: 0;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: none;
    transform: translateX(100%);
    transition: transform 1s ease;

  }
}



/* --- HEADER ----*/
.butikken{
  display: flex;
  flex-direction: row;
}

.butiktekst{
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 150px;
}

.butiktekst h2 {
   font-size: 20px;
}

.butiktekst p {
  font-size: 17px;
  text-align: left;
}

#about img {
  max-width: 600px;

}

.brownbox {
  display: block;
  background: #AE957E;
  border-radius: 25px;
  padding: 75px;
  margin-right: 20%;
  margin-left: 20%;
  position: relative;
  margin-bottom: 50px;


}

.brownboxtext {
 position: relative;
}

/* -----FOOTER------- */

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #AE957E;
  color: white;
  text-align: center;
  display: inline-block;
  overflow: hidden;

}
.wrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;

}

.column {
  display: flex;
  float: left;
  width: 20%;
}

.logo{
  display: flex;
  height:30px;
  width:auto;
  float: right;
  margin-top: 10px;
}

.footertext {
  display: inline-block;
  text-align: left;
}

.footertext h2 {
  text-align: left;
  font-size: 13px;
  color: #white;
  margin-left: 10px;
}

.footertext p {
  text-align: left;
  font-size: 10px;
  color: #white;
  margin-left: 10px;
}


.column2 {
  display: inline-flex;
  float: left;
  width: 20%;
  vertical-align: middle;

}

.link {
  display: inline-block;
  margin: 10px 0 15px 45px;
}
