@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}

body{
  font-family: 'Poppins';
}

.frontlogo {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.headertext {
  display: flex;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;

}

.maintitle {
  position: relative;
  text-align: center;
  
}

.btn {
  padding: .3em .8em;
  border: 1px solid #446d88;
  background: #5F2813;
  color: white;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  border-radius: .2em;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  font-size: 125%;
  line-height: 1.5em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #AE957E;
  color: white;
  text-align: center;
  display: inline-block;
  overflow: hidden;

}
.wrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  text-align: center;
  justify-content: space-between;

}

.column {
  display: inline-table;
  float: left;
  width: 20%;
}

.columnlogo {
  float: left;
  display: flex;
  margin-right: 15px;
  margin-top: 10px;
}

.footertext {
  display: inline-block;
  text-align: left;
  
}

.column2 {
  display: inline-flex;
  float: left;
  width: 20%;
  vertical-align: middle;
}

h1 {
  font-size: 25px;
}

h2 {
   font-size: 12px;
}

p {
  font-size: 12px;

}
.link {
  display: inline-block;
  margin: 10px 0 45px 45px;
}



.contactform {
  float: left;
  margin-left: 20%;
}


.feedback-input {
  color: black;
  font-family: Poppins, sans-serif;
  font-weight:300;
  font-size: 12px;
  border-radius: 3px;
  line-height: 12px;
  background-color: transparent;
  border:1px solid #CC6666;
  transition: all 0.2s;
  padding: 7px;
  margin-bottom: 10px;
  width:80%;
  box-sizing: border-box;
  outline:0;
}

textarea {
  height: 50px;
  line-height: 120%;
  resize: vertical;
}

.containerforside {
  max-width: 3%;
}
.forsidebillede {
  float: left;
  padding: 50px 0px 100px 150px;
  vertical-align: top;
}

.textforside h2{
text-align: center;
font-size: 20px;
color: #5F2813;
padding: 10px;
}

.textforside p {
  color: #5F2813;
  font-size: 14px;
  text-align: left;
  padding: 0px 100px 0px 750px;
  min-width: 300px;
  max-width: 750px;
}

.textforside {
  padding: 20px 0px 0px 0px;
}