@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}

.frontlogo {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.headertext {
  display: flex;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;

}

.maintitle {
  position: relative;
  text-align: center;
}

.btn {
  padding: .3em .8em;
  border: 1px solid #446d88;
  background: #5F2813;
  color: white;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  border-radius: .2em;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  font-size: 125%;
  line-height: 1.5em;
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #AE957E;
  color: white;
  text-align: center;
  display: inline-block;
  overflow: hidden;

}
.wrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  text-align: center;
  justify-content: space-between;

}

.column {
  display: inline-table;
  float: left;
  width: 20%;
}

.columnlogo {
  float: left;
  display: flex;
  margin-right: 15px;
  margin-top: 10px;
}

.footertext {
  display: inline-block;
  text-align: left;
  float: left;
}

.column2 {
  display: inline-flex;
  float: left;
  width: 20%;
  vertical-align: middle;
}

h1 {
  font-family: 'Poppins';
  font-size: 25px;
}

h2 {
   font-family: 'Poppins';
   font-size: 12px;
}

p {
  font-family: 'Poppins';
  font-size: 12px;

}
.link {
  display: inline-block;
  margin: 10px 0 45px 45px;
}



.middle {

}

/*.contactform {
  float: left;
  margin-left: 20%;
}

.contact {

}

.feedback-input {
  color: black;
  font-family: Poppins, sans-serif;
  font-weight:300;
  font-size: 12px;
  border-radius: 3px;
  line-height: 12px;
  background-color: transparent;
  border:1px solid #CC6666;
  transition: all 0.2s;
  padding: 7px;
  margin-bottom: 10px;
  width:80%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus {
  border:2px
  solid #black;

}

textarea {
  height: 50px;
  line-height: 120%;
  resize: vertical;
}

[type="submit"] {
  font-family: Poppins, sans-serif;
  width: 80%;
  background:#black;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:black;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#black; }
*/
.cont
