@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}



body{
  font-family: 'Poppins';
}

.frontlogo {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headertext {
  display: flex;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
}

.maintitle {
  position: relative;
  text-align: center;
}

.btn {
  padding: .3em .8em;
  border: 0;
  background: #5F2813;
  color: white;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  border-radius: .2em;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  text-decoration-line: none;
  font-size: 125%;
  line-height: 1.5em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fronttext {
  font-family: 'Ms Madi', cursive;
  font-size: 60px;
  text-align:center;
  margin: 0;
}

.undertitel{
  font-size: 12px;
  text-align: center;
  margin: 0;
}
